.gconteiner ul {
  padding:0;
  position:relative;
  width: 90%;
  margin: 10px 10px 30px;
}

.gconteiner ul li{
  list-style: none;
  float:left;
  padding:10px 20px;
  color:rgba(240, 226, 226, 0.445);
  border: 1px solid rgba(179, 18, 18, 0.055);
  margin-right:15px;
  text-transform: uppercase;
  
}
.gconteiner img{
  width:250px;
}

.gconteiner ul li:hover,

.active{
  background:rgba(207, 16, 16, 0.171);
  color:#d6c8c8;
  cursor: context-menu;
  
}
.gconteiner{
  padding: 0 30px;
  position:relative;
  padding:30px;
  box-sizing: border-box;
}
.gcontainer img{
  width:23%;
  height:100px;
  line-height:100px;
  text-align:center;
  color:rgba(255,255,255,.5);
  float:left;
  box-sizing: border-box;
  margin: 10px;
  text-transform: uppercase;
}
